## Lambda Function- Anynomous Function

In [11]:
def square(a):
    return a*a

result=square(5)
print(result)

25

In [12]:
f=lambda a:a*a
result=f(5)
print(result)

25

In [14]:
f=lambda a,b:a+b
result=f(2,3)
print(result)

5

In [15]:
#Add 10 to argument a, and return the result:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
#Multiply argument a with argument b and return the result:
x = lambda a, b : a * b
print(x(5, 6))

In [ ]:
#Summarize argument a, b, and c and return the result:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

In [19]:
# showing difference between def() and lambda().
def cube(y):
    return y*y*y
result=cube(3)
print(result)

27

In [ ]:
lambda_cube = lambda y: y*y*y
print(lambda_cube)

In [3]:
numbers=[10,45,88,22,44,66,87,53,50,62]
def even(x):
    return x%2==0
even_list=list(filter(even,numbers))
print("Even Numbers are:",even_list)

Even Numbers are: [10, 88, 22, 44, 66, 50, 62]

In [4]:
#Lambda Function
numbers=[10,45,88,22,44,66,87,53,50,62]
even_list1=list(filter(lambda x: x%2==0 and x>50,numbers))
print("Even Numbers are:",even_list1)

Even Numbers are: [88, 66, 62]

## Sort number of characterwise

In [9]:
country=['Antartica','Brazil','Nigeria','South Africa','England']
def length(country):
    return len(country)
sort=sorted(country,key=length)
print(sort)

['Brazil', 'Nigeria', 'England', 'Antartica', 'South Africa']

In [10]:
#Lambda Function
country=['Antartica','Brazil','Nigeria','South Africa','England']
sort=sorted(country,key=lambda x:len(x))
#sort=sorted(country,key=lambda x:len(x),reverse=True)
print(sort)

['Brazil', 'Nigeria', 'England', 'Antartica', 'South Africa']

In [20]:
# Program to double each item in a list using map()
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(map(lambda x: x * 2 , my_list))
print(new_list)
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(map(lambda x: x * x * x , my_list))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]
[1, 125, 64, 216, 512, 1331, 27, 1728]

## Local and Global variable

In [5]:
x = "global"
def foo():
    print("x inside:", x)

foo()
print("x outside:", x)

x inside: global
x outside: global

In [6]:
def foo():
    y = "local"

foo()
print(y)

NameError: name 'y' is not defined

In [7]:
import math as cal
cal.log(5)

1.6094379124341003

In [8]:
import datetime
datetime_object = datetime.datetime.now()
print(datetime_object)

2024-01-30 10:37:45.044883

In [9]:
import datetime
date_object = datetime.date.today()
print(date_object)

2024-01-30

In [11]:
import datetime
d = datetime.date(2024, 4, 13)
print(d)

2024-04-13

In [12]:
from datetime import date
today = date.today()
print("Current date =", today)

Current date = 2024-01-30

In [13]:
# date object of today's date
today = date.today()
print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2024
Current month: 1
Current day: 30

In [16]:
from datetime import time
a = time(11, 34, 56)
print("hour =", a.hour)
print("minute =", a.minute)
print("second =", a.second)
print("microsecond =", a.microsecond)

hour = 11
minute = 34
second = 56
microsecond = 0

In [17]:
# Program to double each item in a list using map()
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(map(lambda x: x * 2 , my_list))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]

In [18]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(map(lambda x: x * x * x , my_list))
print(new_list)

[1, 125, 64, 216, 512, 1331, 27, 1728]